html, body{
  font-family: Arial, sans-serif;
  background-color: pink;
  
}

header {
  background-color: black;
  color: white;
  margin: 0;
  
   }

p {
  margin: 2%;
  padding: 2%;

}
.text-body {
  padding: 2%;
}
